vti_encoding:SR|utf8-nl
vti_author:SR|HWH-THORSTEN\\heth0001
vti_modifiedby:SR|HWH-THORSTEN\\heth0001
vti_timelastmodified:TR|01 Apr 2009 09:03:17 -0000
vti_timecreated:TR|23 Mar 2009 17:56:49 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|24 Mar 2009 16:14:34 -0000
vti_cacheddtm:TX|01 Apr 2009 09:03:17 -0000
vti_filesize:IR|564
vti_cachedlinkinfo:VX|S|../pics/Startseite-Schriftzug.png
vti_cachedsvcrellinks:VX|FSUS|pics/Startseite-Schriftzug.png
